<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<body th:fragment="headerFragment">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; position: fixed">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/home">Admin</a></li>
            </ul>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <div class="collapse navbar-collapse"><a class="nav-link" href="/member/regform" th:if="${session.login == null}">회원가입</a></div>
                <div class="collapse navbar-collapse"><a class="nav-link" href="/member/login" th:if="${session.login == null}">로그인</a></div>
                <div class="collapse navbar-collapse"><a class="nav-link" th:href="'/member/'+ ${session.login.no}" th:if="${session.login != null}">내 정보</a></div>
                <div class="collapse navbar-collapse" th:if="${session.login != null}"><a class="nav-link" href="/member/logout">로그아웃</a></div>
            </ul>

            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>