<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<body th:fragment="headerFragment">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; position: fixed; z-index: 99999;">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">Movie</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="/admin/home">Admin</a></li>

            </ul>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <div class="collapse navbar-collapse"><a class="nav-link" href="/member/regform" th:if="${session.login == null}">회원가입</a></div>
                <div class="collapse navbar-collapse"><a class="nav-link" href="/member/login" th:if="${session.login == null}">로그인</a></div>
                <div class="collapse navbar-collapse"><a class="nav-link" th:href="'/member/'+ ${session.login.no}" th:if="${session.login != null}">내 정보</a></div>
                <div class="collapse navbar-collapse" th:if="${session.login != null}"><a class="nav-link" href="/member/logout">로그아웃</a></div>
            </ul>

            <form class="row g-3" th:method="get" th:action="@{/}">
                <div class="col-auto">
                    <a href="https://kauth.kakao.com/oauth/authorize?client_id=9f503bb5b02b69a8c90d7b201066b7d8&redirect_uri=http://localhost:8880/user/kakao/callback&response_type=code">
                        <img src="../assets/images/kakao_login_button.png" alt="logo" /></a>
                </div>
                <div class="col-auto">

                    <input type="text" class="form-control" id="searchMovie" name="searchMovie">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">검색</button>
                </div>
            </form>
        </div>
    </div>
</nav>
</body>
</html>