<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">


<!-- 응애 네이버 검색 api -->
    <!-- Header-->

    <!-- Section-->
<div layout:fragment="content">
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style mod</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompage template</p>
            </div>
        </div>
    </header>
    <table class="table table-striped">
        <thead>
        <tr>
            <th> No </th>
            <th> UserName </th>
            <th> Email </th>
            <th> Phone </th>
            <th> Birth </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="naver : ${naver}">
            <td class="py-1">
                <span th:text="${naver.title}"></span></td>
            </td>
            <td><span th:text="${naver.link}"></span></td>

            <td><span th:text="${naver.director}"></span></td>
            <td><span th:text="${naver.actor}"></span></td>

        </tr>

        </tbody>
    </table>

</div>

</div>
</html>