<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">


<!-- 응애 네이버 검색 api -->
    <!-- Header-->

    <!-- Section-->
<div layout:fragment="content">
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style mod</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompage template</p>
            </div>
        </div>
    </header>
    <span th:text="${movies}"></span>
</div>

</div>
</html>