<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<script layout:fragment="script">
    var seatList = [];
    var date = "";
    var time = "";
    var moviecd = window.location.pathname;
    var moviecdShort = moviecd.replace("/reserve/", "");
    function selectSeat(id){
        var seat = document.getElementById(id);
        if(seat.classList.contains("bg-dark")){//active면
            seat.classList.remove("bg-dark", "text-white");
            let pos = seatList.indexOf(id);
            seatList.splice(pos, 1);
            console.log(seatList);
        }else{
            seat.classList.add("bg-dark", "text-white");
            seatList.push(id);
            console.log(seatList);
        }
    }

    function selectDate(id){
        time = "";//time초기화
        console.log(time + "selectDate에서 리셋한 시간");
        var dateRow = document.getElementsByClassName("date");//class에 date포함한 DOM
        console.log("daterow"+dateRow);
        var selDateRow = document.getElementById(id);//클릭한 DOM
        console.log("selDateRow"+selDateRow);
        console.log(dateRow.length);
        // for(var i=0; i<=dateRow.length; i++){
        //     dateRow.
        // }
        for(var i =0; i < dateRow.length; i++){
            dateRow[i].classList.remove("active");
        }

        if(selDateRow.classList.contains("active")){//active면
            selDateRow.classList.remove("active");
            date = "";
            console.log(date);
        }else{
            selDateRow.classList.add("active");
            date = selDateRow.innerHTML;
            console.log(date);

        }
        console.log(time);
    }

    function selectTime(id){
        var timeRow = document.getElementById(id);
        var times = document.getElementsByClassName("time");
        for(var i=0; i<times.length; i++){
            var str = "time"+i;
            var selTime = document.getElementById(str);
            selTime.classList.remove("active");
        }
        if(timeRow.classList.contains("active")){//active면
            timeRow.classList.remove("active");
            time = "";
            console.log(time);
        }else{
            timeRow.classList.add("active");
            time = timeRow.innerHTML;
            console.log(time);
        }
        callCinemaAjax();
    }
    function callCinemaAjax(){
        var seatPlace = document.getElementById("seatPlace");
            $.ajax({
                type: "GET",
                url : "/reserve/getCinema",
                data : {moviecd : moviecdShort, date : date, time : time},
                success: function(result){
                    var seatHtml = "좌석\n" +
                        "                            <table style=\"width: 100%; border : 1px solid black; text-align: center\">\n"+
                    "<tr>\n"+
                        "                                    <td colspan=\"8\">SCREEN</td>\n" +
                        "                                </tr>";
                    const results = result.split(", ");
                    console.log(results.length);
                    var tmpSeat = "A";
                    for(var i=0; i < results.length; i++){
                        if(results[i].charAt(0) != tmpSeat){
                            tmpSeat = results[i].charAt(0);
                            var html = "</tr>"+"<tr>"+
                                "<td id=\""+results[i]+"\" onclick=\"selectSeat(this.id);\" class=\"mx-1\" style=\"border : 1px solid black; width: 5px;\">"+results[i]+"</td>\n";
                            ;
                            seatHtml = seatHtml + html;
                        }else{
                            var html =
                                "            <td id=\""+results[i]+"\" onclick=\"selectSeat(this.id);\" class=\"mx-1\" style=\"border : 1px solid black; width: 5px;\">"+results[i]+"</td>\n";
                            seatHtml = seatHtml + html;
                        }
                    }
                var seatPlace = document.getElementById("seatPlace");
                    seatPlace.innerHTML = seatHtml;
                },
                error: function(data){
                    alert("에러 발생. " + data);
                }
            });
    }

    $(document).ready(function(){
        $(".date").click(function(){
            $.ajax({
                type: "GET",
                url : "/reserve/getTime",
                data : {moviecd : moviecdShort, date : date },
                success: function(results){
                    var timeTable = document.getElementById("timePlace");
                    var timeHtml = "";
                    for(var i=0; i < results.length; i++){
                        timeHtml = timeHtml + "<li id=\""+"time"+i+"\" onclick=\"selectTime(this.id);\" class=\"list-group-item time\">"+results[i]+"</li>\n"
                    }
                    timeTable.innerHTML = "시간"+"                            <div class=\"px-3\">\n" +
                        "                            <ul class=\"list-group\">\n" + timeHtml +
                        "                                 </ul>\n" +
                        "                        </div>\n"
                },
                error: function(data){
                    alert("에러 발생. " + data);
                }
            })
        });


    });
    function reserveComplete(){
        var formDate = document.getElementById("confirmDate");
        var formTime = document.getElementById("confirmTime");
        var formSeat = document.getElementById("confirmSeat");
        var num = seatList.length;
        var seat = seatList.toString();
        console.log("좌석 : " + seatList + "날짜시간" + date + "/" + time + "인원수 : " + num);
        var formNum = document.getElementById("confirmNum");
        formDate.setAttribute('value', date);
        formTime.setAttribute('value', time);
        formSeat.setAttribute('value', seat);
        formNum.setAttribute('value', num);
    }

</script>
<div layout:fragment="content">
        <!-- Header-->
        <header class="bg-dark py-5" style="padding-bottom: 0.5em !important;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">[[${movie.movieNm}]]</h1>
                    <p class="lead fw-normal text-white-50 mb-0">1관</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
                <div class="container px-4 px-lg-5 mt-5" style="overflow: hidden">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4" style="flex-wrap: nowrap;">
                    <div class="row mx-auto" style="width: 100%">
                        <div class="col-3">
                            날짜
                            <div class="px-3">
                                <ul class="list-group">
                                    <th:block th:each="date : ${date}">
                                        <li th:id="date+${dateStat.index}" onclick="selectDate(this.id);" class="list-group-item date">[[${date}]]</li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                        <div id="timePlace" class="col-3">
                            시간
                        </div>
                        <div id="seatPlace" class="col-6">
                            좌석
                            <table style="width: 100%; border : 1px solid black; text-align: center">
                                <tr>
                                    <td colspan="8">SCREEN</td>
                                </tr>
                                <tr>
                                    <td id="A1" onclick="selectSeat(this.id);" class="mx-1" style="border : 1px solid black; width: 5px;">A1</td>
                                </tr>
                                <tr>
                                    <td id="B1" onclick="selectSeat(this.id);" class="mx-1" style="border : 1px solid black; width: 5px;">B1</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                    <div class="row float-end">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" onclick="reserveComplete();" data-bs-target="#exampleModal">
                            예약확인
                        </button>
                    </div>


                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">예약확인</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="reserveForm" th:action="@{/reserve/reservation}" th:object="${reserve}" th:method="post">
                                        <div class="mb-3">
                                            <label for="confirmDate" class="form-label">날짜</label>
                                            <input name="date" th:field="*{date}" type="text" class="form-control" id="confirmDate" readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label for="confirmTime" class="form-label">시간</label>
                                            <input name="time" th:field="*{time}" type="text" class="form-control" id="confirmTime" readonly>
                                        </div>
                                        <div class="mb-3">
                                            <label for="confirmSeat" class="form-label">좌석</label>
                                            <input name="seat" th:field="*{seat}" type="text" class="form-control" id="confirmSeat" readonly>
                                        </div>
                                        <input name="num" th:field="*{num}" type="hidden" id="confirmNum" readonly>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">예약하기</button>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </section>


</div>


</html>