<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<script layout:fragment="script">
</script>
<div layout:fragment="content">
        <!-- Header-->
        <header class="bg-dark py-5" style="padding-bottom: 0.5em !important;">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">[[${movie.movieNm}]]</h1>
                    <p class="lead fw-normal text-white-50 mb-0">상영관정보</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
                <div class="container px-4 px-lg-5 mt-5" style="overflow: hidden">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4" style="flex-wrap: nowrap;">
                    <div class="row mx-auto" style="width: 100%">
                        <div class="col">
                            날짜
                            <div>
                                날짜정보
                            </div>
                        </div>
                        <div class="col">
                            시간
                            <div>
                                시간정보
                            </div>
                        </div>
                        <div class="col">
                            좌석
                            <div>
                                좌석정보
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</div>
</html>